<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  角色表 MyBatis-Plus XML映射文件
  数据表：sys_role
  @author wabc
  @date 2025-05-18
-->
<mapper namespace="org.wabc.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="org.wabc.system.entity.SysRole">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="sort" column="sort" />
        <result property="deleted" column="deleted" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, code, sort, deleted, description, status, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>