<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  用户与角色关联表 MyBatis-Plus XML映射文件
  数据表：sys_user_role
  @author wabc
  @date 2025-05-18
-->
<mapper namespace="org.wabc.system.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="org.wabc.system.entity.SysUserRole">
        <result property="userId" column="user_id" />
        <result property="roleId" column="role_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id, role_id
    </sql>

</mapper>